.page {
    width: calc(100% - 48px*2);
    height: max-content;
    margin: 0;
    padding: 0 48px;
    
}

@media screen and (max-width: 1279px) {
    .page {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}