.header__links {
    width: 77px;
    /* Кажется, что можно лучше, но не понятно, как... */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__links {
        width: 62px;
        font-size: 18px;
        line-height: 20px;
    }
}