@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(/fonts/Inter-Black.woff) format('woff'), url(/fonts/Inter-Black.woff2) format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(/fonts/Inter-Regular.woff) format('woff'), url(/fonts/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'),
        url(/fonts/Inter-Bold.woff) format('woff'), url(/fonts/Inter-Bold.woff2) format('woff2');
    font-weight: bold;
}

.page {
    width: calc(100% - 48px*2);
    margin: 0;
    font-family: 'Inter';
    background-color: #2A2C2F;
    color: #fff;
    padding: 0 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 28px 0 56px;
    margin: 0 auto;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__links {
    width: 77px;
    /* Кажется, что можно лучше, но не понятно, как... */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.header__lang-link {
    color: #fff;
}

.header__lang-link_status_inactive {
    text-decoration: none;
}

.content {
    display: grid;
    gap: 92px;
}

.lead {
    padding: 0 100px;
    margin: 0 auto;
}

.lead__title {
    margin: 0;
    padding: 0 0 32px;
    text-align: center;
    justify-content: center;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
}

.lead__subtitle {
    margin: 0;
    padding: 0 0 64px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    margin: 0;
    padding: 8px 0 0;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.intro {
    max-width: 690px;
    margin: 0;
    padding-left: 100px;
}

.intro__title {
    margin: 0;
    padding: 0 0 40px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

.intro__text {
    margin: 0;
    padding: 0 0 33px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
}

.intro__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

.intro__list_simbols_slim {
    font-weight: 400;
}

.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 16px;
    justify-items: center;
}

.photo-grid__item {
    width: 100%;
    object-fit: cover;
}

.places {
    padding: 0 100px;
    display: grid;
    gap: 80px;
}

.place {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(460px, max-content) minmax(484px, max-content);
    grid-template-rows: repeat(2, min-content);
    align-items: start;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
}

.place__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

.place__image {
    width: 100%;
}

.place__website {
    align-self: end;
}

.place__website-heading {
    margin: 0;
    padding: 0 0 12px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.place__website-link {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    transition: opacity 0.5s linear;
}

.place__website-link:hover {
    opacity: 20%;
    cursor: pointer;
}

.place__paragraph {
    margin: 0;
    padding: 0 0 26px;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

.cover {
    width: 100%;
    display: flex;
    position: relative;
}

.cover__link {
    color: #fff;
}

.cover__image {

    width: 100%;
    opacity: 80%;
    transition: opacity 0.5s linear;
}

.cover__image:hover {
    opacity: 30%;
}

.cover__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__title {
    width: 560px;
    margin: 0;
    padding: 0 0 32px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

.cover__subtitle {
    width: 360px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px;
}

.footer__links {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    grid-template-rows: 1fr;
    gap: 18px;
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 20%;
}

.footer__copyright {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 320px) and (max-width: 768px) {
}
