.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    transition: opacity 0.5s linear;
}

.footer__link:hover {
    opacity: 20%;
}