.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 0 64px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
    }
}