.cover__title {
    width: 560px;
    margin: 0;
    padding: 0 0 32px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .cover__title {
        width: 250px;
        /* В макете width: 288px, но в таком случае
         фраза переносится криво*/
        padding: 0 0 16px;
        font-size: 32px;
        line-height: 35px;
    }
}